.InfoBox {
    text-align: center;
    margin-top: 1rem;
}

.cardContainer {
    display: flex;
    justify-content: center;
}

.MuiCard-root {
    border-radius: 16px !important;
    box-shadow: 0 6px 12px rgba(0,0,0,0.15) !important;
}

.MuiTypography-h5 {
    font-weight: bold !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px; /* spacing between city name and icon */
}
